.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;

    .saveBtn {
        margin-right: 20px;
        margin-left: auto;
    }

    // .editBtn {}
}

.btnsWrapper {
    margin-left: auto;
}