.StarRating {
    .hovered {
        fill: var(--primary-color);
    }

    .starIcon {
        stroke: var(--primary-color);
        cursor: pointer;
    }
}

.normal {
    fill: none;
}

.StarRatingRedesigned {
    display: flex;
    gap: 4px;

    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }

    .starIcon {
        stroke: var(--icon-redesigned);
        cursor: pointer;
    }
}

.isSelected {
    cursor: auto;
}